*
  color: black
a
  color: black

.main-wrapper
  padding: 24px

.sidebar
  padding: 24px 40px
  background-color: lightblue

.box1
  height: 200px
  width: 200px
  background-color: #d2a7fa

.box2
    height: 200px
    width: 200px
    background-color: orange

.section
  height: 500px
  width: 100%
  &-blue
    background-color: #0dcaf0
  &-white
    background-color: wheat
  &-orange
    background-color: orange


.input
  border: 1px solid blue
  padding: 10px 20px

.post
  border: 1px solid darkslategrey
  padding: 10px 20px
  margin-bottom: 20px
  &-content
    max-width: 600px